@-ms-viewport{
  width: device-width;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@media screen and (max-width: 610px) {
  .hide-lg {
    display: none !important;
  }
}

@media screen and (max-width: 455px) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (max-width: 310px) {
  .hide-sm {
    display: none !important;
  }
}

/* Main Styles */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #111;
  color: #EEE;
  font-size: 12px;
}

header, footer {
  text-align: center;
}

header {
  margin: 50px 0 25px;
}

footer a {
  color: #EEE;
}

.hidden {
  display: none;
}

/* Menu */
#menu-trigger:hover {
  cursor: pointer;
}

#menu-trigger {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.5em;
  border: none;
  color: #FFF;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
}

#menu-window {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  padding-top: 150px;
}

#menu-close {
  font-size: 1.5rem;
  position: fixed;
  top: 30px;
  right: 50px;
  padding: 10px;
  background-color: #333;
  padding: 4px 12px;
  border-radius: 5px;
  letter-spacing: 1px;
}

#menu-window ul {
  list-style: none;
  padding: 0;
}

#menu-window h2 {
  font-size: 2rem;
  letter-spacing: 2px;
}

#menu-window>ul>li {
  font-size: 1.25rem;
  padding-bottom: 20px;
}

#menu-window>ul:hover, #menu-close:hover {
  cursor: pointer;
}

#menu-window>ul>li:hover, #menu-close:hover, #menu-trigger:hover {
  opacity: .7;
  transition: all .2s;
}

/* Pad Styles and Layout */
.container {
  max-width: 620px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.pad {
  background-color: #bf37b2;
  width: 125px;
  height: 125px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #bf37b2;
}

.pad-inner {
  background-color: #333;
  width: 115px;
  height: 115px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

.pressed {
  background-color: #932996;
  width: 125px;
  height: 125px;
  position: relative;
  bottom: 5px;
  right: 5px;
}

.pad:hover {
  cursor: pointer;
}
